/* .App {
  text-align: center;
  display: flex;
  justify-content: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Noto+Sans:wght@400;700;800&family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');


.venueImage {
  flex-direction: column;
  justify-content: center;
  background-image: none;
  min-height: 300px;
  max-height: 300px;
}

.eventImage {
  flex-direction: column;
  justify-content: center;
  background-image: none;
  min-height: 300px;
  max-height: 500px;
}